@import url("https://fonts.googleapis.com/css2?family=Preahvihear:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PoetsenOne:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-darkorchid: #7127ba;
  --color-gray-100: #1a0b2e;
  --color-gray-200: rgba(0, 0, 0, 0);
  --color-lightsteelblue: #ccd6f6;
  --color-mediumorchid: #9757d3;
  --color-mediumslateblue: #a362ff;
  --color-midnightblue: #2c1250;
  --color-royalblue: #1877f2;
  --color-white: #fff;

  /* BorderRadius */
  --br-10: 10px;
  --br-15: 15px;
  --br-50: 50%;

  /* Font */
  --font-plus-jakarta-sans: Plus Jakarta Sans;
  --font-poetsenone: PoetsenOne;
  --font-poor-story: Poor Story;
  --font-poppins: Poppins;
  --font-preahvihear: Preahvihear;

  /* FontSize */
  --fs-8: 8px;
  --fs-10: 10px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-40: 40px;

  /* Shadows */
  --shadow-drop: 4px 7px 26px rgba(0, 0, 0, 0.12);

  /* Gradients */
  --gradient-1: radial-gradient(
    50% 50% at 50% 50%,
    #763cac,
    rgba(50, 15, 133, 0)
  );
  --gradient-2: linear-gradient(
    95.56deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );

  /* WidthHeights */
  --height-24: 24px;
  --height-31: 31px;
  --height-33: 33px;
  --height-48: 48px;
  --height-192_7: 192.7px;
  --width-31: 31px;
  --width-119: 119px;
  --width-570: 570px;

  /* LineHeights */
  --lh-15: 15px;

  /* LetterSpacings */
  --ls-0_02: 0.02;
}
